/*-------- Variaveis ---------*/
:root{
	--blue-sapphire: #216B82;
	--cyan-cornflower: #1A82B7;
	--lime-green: #33CC33;
	--safety-orange: #FF6700;
	--isabelline: #EBEBEB;
}

/*---------- Geral -----------*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2vw;
	height: 100vh;
}
.row {
	margin: 0;
}

a {
	color: white;
}

a:hover,
a:active,
a:focus {
	
	color: white;
	outline: none;
	text-decoration: none;
}

button:focus {outline:0;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.btn-primary {
	border: none;
	background-color: var(--cyan-cornflower);
}

.btn-primary:hover {
	background-color: var(--blue-sapphire);
}

/*--------- Header-Menu ---------*/

#header {
	position: relative;
	top: 0px;
	padding: 20px 0;
	width: 100%;
	height: auto;
	transition: all 0.5s;
	z-index: 997;
	background: var(--blue-sapphire);
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo img {
	padding: 0;
	max-width: 200px;
	min-width: 120px;
}

#header-container {
	width: 94vw;
	margin: auto;
}

#btn-user {
	white-space: nowrap;
	font-size: 1rem;
}

.btn-menu {
	font-size: 1vw;
	color: #c3c3c3;
}

.btn-menu:hover,
.btn-menu:active,
.btn-menu:focus,
.menu-active {
	
	color: white;
	font-size: 1.2vw;
	outline: none;
	text-decoration: none;

}



/*--------- Loading ---------*/
#loadingSection {
	width: 100vw;
	height: 100vh;
	background-color: var(--isabelline);
}


/*--------- Cadastro ---------*/
#bodyCadastro {
	position: relative;
}

#formCadastro {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border: 2px solid #DFE1E6;
	border-radius: 8px;
}



/*--------- Login ---------*/
#loginSection {
	width: 100%;
	height: 100%;
	background-color: var(--isabelline);
}

#loginSection #logo {
	position: absolute;
	left: 49%;
	top: 20%;
	transform: translate(-50%, -50%);
	width: 30%;
	height: auto;
}

#login {
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	margin-top: 20px;
	width: 340px;
}

#login .container {	
	justify-content: center;
	padding: 30px;
	background-color: var(--blue-sapphire);
	border-radius: 20px;
	color: var(--isabelline);
}

#login button {
	width: 50%;
}

#login span i{
	color: var(--blue-sapphire);
}

/*--------- Matriz ---------*/

#header-matriz {
	width: 94vw;
	margin: auto;
	padding: 0;
}


#MatrizAnual .table-responsive {
	height: 46vh;
}

#tabelaHead {
	text-align: center;
}

input #procurar  {
	width: 20px;
}


/*--------- Coluna de Pedidos ---------*/


.board-content {
	position: relative;
	height: 66vh;
	flex-grow: 1;
}

#boardPedidos {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	margin-bottom: 8px;
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 8px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.pedido-coluna{
	margin-left: 8px;
	width: 280px;
	height: 100%;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

.pedido-coluna:last-child {
	margin-right: 24px;
}

.pedido-conteudo{
	background-color: #DFE1E6;
	border-radius: 8px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	position: relative;
	white-space: normal;
}

.pedido-header {
	display: block;
	position: relative;
	padding: 10px 8px 8px;
	border-radius: 8px;
	flex: 0 0 auto;
	margin-bottom: 8px;
	max-width: 300px;
	min-height: 20px;
	box-shadow: 0 2px 0 rgba(50, 50, 50, .25);
}

.nome-disciplina {
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	margin: 0 0 4px;
}

.nome-professor {
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
	margin: 0 0 8px;
}

.pedido-body {
	flex: 1 1 auto;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 4px;
	padding: 0 4px;
	z-index: 1;
	min-height: 0;
}

.pedido-body > a:last-child {
	margin-bottom: 8px;
}
.blockk{
	display: block;
}
.btn-aula {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 0 rgba(50, 50, 50, .25);
	color: #172b4d;
	cursor: pointer;
	display: block;
	margin-bottom: 8px;
	max-width: 300px;
	min-height: 20px;
	position: relative;
	text-decoration: none;
	z-index: 0;
	padding: 8px;
}

.btn-aula:hover,
.btn-aula:focus,
.btn-aula:active {
	background-color: #F4F5F7;
}

.nome-aula {
	clear: both;
	display: block;
	margin: 0 0 4px;
	overflow: hidden;
	text-decoration: none;
	word-wrap: break-word;
	color: #172B4D;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

.detalhe-aula {
	display: block;
	margin: 0 0 4px;
	overflow: hidden;
	text-decoration: none;
	word-wrap: break-word;
	color: #172B4D;
	box-sizing: border-box;
	width: 50%;
	float: left;
	font-size: 16px;
	font-weight: normal;
	line-height: 16px;
}

.pedido-footer {
	border-radius: 0 0 4px 4px;
	display: block;
	flex: 0 0 auto;
	padding: 8px;
	position: relative;
	text-decoration: none;
}


/*--------- Modal Aula ---------*/

#modalAulaT .modal-header-content {
	margin: auto;
}

#modalAulaT .modal-header .close {
    padding: 0;
    margin: 0;
}

#modalAulaT .modal-body {
	height: 64vh;
	overflow-y: scroll;
}

#modalAulaT .modal-title {
	font-size: 24px;
	line-height: 24px;
}

#modalAulaT .modal-subtitle {
	font-size: 20px;
	line-height: 20px;
}

.labelAulaModal {
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	margin: 0 0 4px;
}

.aulaInfo {
	margin-top: 24px;
}

#aulaTitulo,
#aulaData,
#aulaCustoTotal,
#aulaCustoReceita {
	font-weight: normal;
}

.tituloReceita {
	font-size: 18px;
	line-height: 34px;
	font-weight: 600;
	vertical-align: middle;
}

.fa-caret-down {
	color: black;
}


/*--------- Listas Geradas ---------*/

#boardListas {
	position: relative;
	height: 68vh;
	overflow-y: auto; 
}

/*--- Botão Fantasma ---*/
.fantasma-box {
	width: 16vw;
	height: 14vw;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	z-index: -1;
	background: none;
	border: none;
	cursor: pointer;
}



.fantasma-conteudo {
	height: 100%;
	width: 100%;
	border: 2px dashed #DFE1E6;
	border-radius: 8px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	white-space: normal;
}

.fantasma-header {
	display: block;
	position: relative;
	border-radius: 8px;
	flex: 0 0 auto;
	width: 100%;
	height: 46%;

}

.fantasma-icon {
	display: block;
	position: relative;
	border-radius: 8px ;
	flex: 0 0 auto;
	width: 100%;
	height: 34%;
}

.fantasma-title {
	display: block;
	position: relative;
	border-radius: 8px ;
	flex: 0 0 auto;
	width: 100%;
	height: 66%;
}

.fantasma-title > h1 {
	position: absolute;
	margin: 0;
	left: 50%;
	TOP: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.2rem;
	font-weight: 600;
	color: #DFE1E6;
}


.fantasma-body {
	display: block;
	position: relative;
	border-radius: 8px;
	flex: 0 0 auto;
	width: 100%;
	height: 54%;
	padding: 8px;
}

.btn-fantasma {
	border-radius: 4px;
	/*box-shadow: 0 2px 0 rgba(50, 50, 50, .25);*/
	border: 2px dashed #DFE1E6;
	display: block;
	margin-bottom: 8px;
	width: 100%;
	height: 40%;
	position: relative;
	text-decoration: none;
	z-index: 0;
}

.fantasma-body > a:last-child {
	margin-bottom: 0;
}

.fantasma-box:hover .fantasma-conteudo,
.fantasma-box:focus .fantasma-conteudo {
	text-decoration: none;
	border: none;
	background-color: #DFE1E6;

	transition: 0.5s;
}

.fantasma-box:hover h1,
.fantasma-box:focus h1{
	color: black;
	transition: 0.5s;
}

.fantasma-box:hover a,
.fantasma-box:focus a{
	border: none;
	background-color: #fff;
	box-shadow: 0 2px 0 rgba(50, 50, 50, .25);
	transition: 0.5s;
}


/*--- Botão Lista ---*/
.lista-box {
	width: 16vw;
	height: 14vw;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	z-index: -1;
	background: none;
	border: none;	
}



.lista-conteudo {
	height: 100%;
	width: 100%;
	background-color: #DFE1E6;
	border-radius: 8px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	white-space: normal;
}

.lista-header {
	display: block;
	position: relative;
	border-radius: 8px;
	flex: 0 0 auto;
	width: 100%;
	height: 46%;

}

.lista-icon {
	display: block;
	position: relative;
	border-radius: 8px ;
	flex: 0 0 auto;
	width: 100%;
	height: 34%;
}

.lista-title {
	display: block;
	position: relative;
	border-radius: 8px ;
	flex: 0 0 auto;
	width: 100%;
	height: 66%;
}

.lista-title > h1 {
	position: absolute;
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 1rem;
	font-weight: 600;
	color: black;
}


.lista-body {
	display: block;
	position: relative;
	border-radius: 8px;
	flex: 0 0 auto;
	width: 100%;
	height: 54%;
	padding: 8px;
}

.lista-icon a {
	border-radius: 64px;
	box-shadow: 0 2px 0 rgba(50, 50, 50, .25);
	color: black;
	background-color: white;
}

.btn-lista {
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 2px 0 rgba(50, 50, 50, .25);
	display: block;
	margin-bottom: 8px;
	width: 100%;
	height: 40%;
	position: relative;
	text-decoration: none;
	z-index: 0;
	color: #555;
}

.btn-lista > span {
	position: absolute;
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.btn-lista:hover,
.btn-lista:focus,
.btn-lista:active {
	background-color: #F4F5F7;
	color: black;
}


/*--------- Modal Nova Lista ---------*/

#modalNovaLista .modal-footer button {
	width: 24%;
}



/*--------- Modal Lista Segmentada ---------*/

.ls-body {
	margin-top: 4vh;
	height: 66vh;
	overflow-y: scroll;
}

.ls-body > .aula {
	border-radius: 8px;
	background-color: #EEE;
}


/*--------- Modal Lista UNIFICADA ---------*/

.lu-body {
	margin-top: 4vh;
	height: 66vh;
	overflow-y: scroll;
}