body {
	padding: 0;
}
.row {
	margin: 0;
}

a {
	color: #eaeaea;
	transition: 0.5s;
}

a:hover,
a:active,
a:focus {
	color: #3666C8;
	outline: none;
	text-decoration: none;
}

/** Botoes **/

.btn {
	width: 80%;
	height: auto;
}