#precoUnit{
	display:none;}


.table-responsive {
	height: 60vh;
	overflow: scroll;
}

.etiquetas{
	display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;

  justify-content: space-around;
}

/*customizacao dos botões radio para ficar mais bonitinho:*/
    input[type='radio']:after {
        width: 90px;
        height: 31px;
        top:0px;
        left:-20px;
        border-radius: 15px;
        position: relative;
        background-color: rgba(00,00,00,00);
        content: '';
        display: inline-block;
        visibility: visible;
        
    }

    #azul:after{
    	background-color: #00FFFF;}
    #amarelo:after{
    		background-color: #FFFF00;
    	}
    #magenta:after{
    	background-color:#FF00FF;
    }
    input[type='radio']:checked:after {
        width: 70px;
        height: 21px;
        top:0px;
        left:-20px;
        position: relative;
        background-color: #2FFFA0;
        content: '';
        display: inline-block;
        visibility: visible;
        
    }