#precoUnit{
	display:none;}
    #precoUnit_e{
    display:none;}
#of_id{
    display: none;
}
#indAula{
    display: none;
}

.addanick{
    display: none;
}
.table-responsive {
	height: 60vh;
	overflow: scroll;
}
#e_id{
    display:none;
}
#e_id_e{
    display:none;
}
.flexA{

    display: flex;
    flex-wrap: nowrap;
flex-direction: row;
  justify-content: space-between;

}

.btns-header {
    background-color: #DDD;
    box-shadow: 0 2px 0 rgba(50, 50, 50, .25);
    color: black; 
}

.btns-header:hover,
.btns-header:focus,
.btns-header:active {
    background-color: #EEE;
    color: black;
    outline: none;
    text-decoration: none;
}


.btn-aAA {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(50, 50, 50, .25);
    color: #172b4d;
    cursor: pointer;

    position: relative;
    
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
   
    text-decoration: none;
    z-index: 0;
    padding: 8px;
}
#formDisc{
    padding: 7px;
}
.etiquetas{
  justify-content: space-between;
  margin:5px;
}

.conf{
    color:#8A8A8A;
}
.detalhe-aD {
    color: #172B4D;
    font-size: 16px;
    font-weight: lighter;
    line-height: 14px;
}
#bolinha{
    font-size:25px;
    font-weight: normal;
    padding-top:15px;

}

.disc-header{
    display: flex;
    position: relative;
    padding: 10px 8px 8px;
    border-radius: 8px;
    flex: 0 0 auto;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    box-shadow: 0 2px 0 rgba(50, 50, 50, .25);

  justify-content: space-between;
  margin-right: 5px;
}
.disc-desc{
    display: block;
}

.modal-title{
    color:#6A6A6A;
    text-align: center;
}
.fantasma{
cursor: pointer;
}
.nome-disciplina-fant {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 4px;
    color:#6A6A6A;
}
.btn-aula-fant {
    border-style:dashed;
    border-width: 0.5px;
    border-radius: 4px;
    color: #172b4d;;
    
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    padding: 8px;
}
.pedido-conteudo-fant{
    border-style:dashed;
    border-width: 0.5px;
    
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}
/*customizacao dos botões radio para ficar mais bonitinho:*/
    input[type='radio']:after {
        width: 70px;
        height: 21px;
        top:0px;
        left:-20px;
        border-radius: 31px;
        position: relative;
        background-color: rgba(00,00,00,00);
        content: '';
        display: inline-block;
        visibility: visible;
        
    }

    #roxo:after{
    	background-color:rgba(86, 60, 193, 1);}
    #amarelo:after{
    		background-color:rgba(193, 140, 60, 1);
    	}
    #verde:after{
    	background-color:rgba(60, 193, 100, 1);
    }
    #azul:after{
        background-color:rgba(60, 193, 179, 1);
    }
    input[type='radio']:checked:after {
        width: 73px;
        height: 24px;
        top:0px;
        left:-20px;
        position: relative;
        background-color: #2FFFA0;
        content: '';
        display: inline-block;
        visibility: visible;
        
    }
.btn-receita {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(50, 50, 50, .25);
    color: #172b4d;;
    cursor: pointer;
    margin-bottom: 8px;
    max-width: 400px;
    min-width:200px;
    min-height: 100px;
    text-decoration: none;
    z-index: 0;
    padding: 8px;
    margin-left:14px;
    margin-right:14px;
}
.flexReceitas{
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-left: 8px;


}
body{

    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    height: 100vh;


}
.menuT{
color:#6A6A6A;
font-size: 35px;
}
.float-right{
float:right;
    }
.modal-header{

}

#saldo{
    font-size: 40px;
}

 #board-content{
display:flex;
flex-direction: row;
justify-content: flex-start;
 	align-items: flex-start;
    overflow: auto;
 }


 .botaoPedido{
 	margin:5px;
 }